<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="database.imapper.IComputersMapper">

    <select id="getDetailsByID" resultMap="result" >
        select * from Computers where computer_id= #{computer_id}
    </select>

    <resultMap id="result" type="computerclass">
        <id property="computer_id" column="computer_id"/>
        <result property="internal_config_id" column="internal_config_id"/>
        <result property="brand_name" column="brand_name"/>
        <result property="model_name" column="model_name"/>
    </resultMap>

</mapper>

